<% content_for :title, "New gov deduction bracket" %>

<h1>New gov deduction bracket</h1>

<%= render "form", gov_deduction_bracket: @gov_deduction_bracket %>

<br>

<div>
  <%= link_to "Back to gov deduction brackets", gov_deduction_brackets_path %>
</div>
