<% content_for :title, "New pay multiplier" %>

<h1>New pay multiplier</h1>

<%= render "form", pay_multiplier: @pay_multiplier %>

<br>

<div>
  <%= link_to "Back to pay multipliers", pay_multipliers_path %>
</div>
